<li>
	{{info}}

	<button class="add-question" data-id="{{id}}" data-newquestion="{{question}}">
		{{#enter question}}" "{{else}}" "{{/if}}
	</button>
	<button class="add-answer" data-id="{{id}}" data-newanswer="{{answer}}">
		{{#enter answer}}" "{{else}}" "{{/if}}
	</button>

	<button class="submit-info" data-id="{{this.id}}">SUBMIT!</button>
</li>
